*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MIX */
body{
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper-page{
  height: 100vh;
}

.background{
  position: relative;
  height: 100%;
  background-image: linear-gradient(to bottom, #1B9688 0vh, #1B9688 20vh, #D8DBD5 20vh, #D8DBD5 100vh);
}

.wrapper-chat{
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
  z-index: 1;
  width: 80%;
  height: calc(100% - 40px);
  background-color: pink;
}

.box-left{
  flex-grow: 1;
  background-color: orchid;
  height: 100%;
  min-width: 300px;
}

.box-right{
  flex-grow: 2;
  background-color: green;
  height: 100%;
  max-width: 70%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  height: 70px;
  padding: 10px;
  padding-right: 20px;
}

.header img {
 height: 50px;
}

.round-image-profile{
  border-radius: 50px;
}

.connection-profile{
  display: flex;
  align-items: center;
}

.nav-icons i{
  margin: 0 5px;
  color: #B1B1B1;
  font-size: 20px;
}

/* BOX LEFT */

.notification{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #8EDAFC;
  padding: 15px 20px;
}

.bell-container{
  width: 50px;
  flex-shrink: 0;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
}
.fa-bell-slash{
  color: #8EDAFC;
  font-size: 25px;
  vertical-align: middle;
}

.search{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  background-color: #FAFAFA;
}
.btn-search{

}
.search input{
  width: 90%;
  height: 100%;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  /* outline: 1px */
}

.box-left-bottom{
  height: calc(100% - 200px);

}

.connections-list{
  height: 100%;
  overflow-y: auto;

}

.connections-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 20px;
  border-top: 1px solid lightgrey;
  background-color: #fff;
}

.connection-profile img{
  height: 60px;
}

/* BOX RIGHT CHAT */
.chat{
  display: flex;
  flex-direction: column;
  height: calc(100% - 140px);
  overflow-y: auto;
  background-image: url(../img/mine.jpg);
  padding: 50px;
}

/* CHAT INPUT MESSAGE BAR */
.chat-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 40px;
  background-color: #F3EEEA;
}

.far.fa-smile, .fab.fa-telegram-plane{
  font-size: 25px;
  color: #6B7376;
}

.chat-bottom input{
  width: 80%;
  min-width: 250px;
  margin: 0 5px;
  border: none;
  height: 100%;
  /* outline:  */
}
/* TEMPLATES */
.template{
  display: none;
}


.chat-baloon{
  max-width: 70%;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
}
.time{
  text-align: right;
  font-size: 10px;
  color: #BDC8BA;
}

.sent{
  align-self: flex-end;
  background-color: #D5F9BA;
}

.recieved{
  align-self: flex-start;
    background-color: #fff;
}
